<!DOCTYPE html>
<html>
<head>
  <title>WdinstagramApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to "All Photos", entries_path %>
  <%= link_to "New Photo", new_entry_path %>
</header>

<%= yield %>

</body>
</html>
